*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: aquamarine;
}
.container{
    border: 10px solid gold;
    height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.first{
    flex-grow: 3;
}
.third{
    flex-grow:16;
}
.container div{
    height: 30px;
    width: 40px;
    margin: 10px;
    background-color: seagreen;
    color: darkblue;
}